/* You can add global styles to this file, and also import other style files */

// Include any default variable overrides here (though functions won't be available)
/*Custom Variables*/
$min-contrast-ratio: 3;
$primary: #EB5D36;
$navbar-light-active-color: $primary;
$navbar-light-hover-color: $primary;


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap icons */
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Then add additional custom code here
.menu-item-card {
  width: 20rem;
}

.menu-item-img {
  height: 12rem;
  object-fit: cover;
}






