<section class="container vh-100">
 <div class="row h-75">
   <div class="col d-flex flex-column justify-content-center">
     <h1>
       Fine dining at your convenience
     </h1>
     <p class="text-body-secondary">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     </p>
     <div class="container-fluid p-0 mb-5">
       <button class="btn btn-primary btn-lg me-2">
         View Menu
       </button>
       <button class="btn btn-primary btn-lg">
         Book a table
       </button>
     </div>
   </div>
   <div class="col-7">
     <img src="assets/hero-image.png"  class="img-fluid mt-5" alt="">
   </div>
 </div>
</section>
