<!--hero section-->
<section class="container vh-100 mb-5">
 <div class="row h-75">
   <div class="col d-flex flex-column justify-content-center">
     <h1>
       Fine dining at your convenience
     </h1>
     <p class="text-body-secondary">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     </p>
     <div class="container-fluid p-0 mb-5">
       <button class="btn btn-primary btn-lg me-2">
         View Menu
       </button>
       <button class="btn btn-primary btn-lg">
         Book a table
       </button>
     </div>
   </div>
   <div class="col-7">
     <img src="assets/hero-image.png"  class="img-fluid mt-5" alt="">
   </div>
 </div>
</section>

<!--restaurant message section-->
<section class="container d-flex justify-content-center mb-5 py-5">
  <div class="row gx-5 subsection1">
    <div class="col">
      <img src="assets/subsection1.jpg" class="img-fluid rounded subsection-img" alt="">
    </div>
    <div class="col-7 d-flex flex-column justify-content-center">
      <h2>It’s not just food, it’s an experience</h2>
      <p class="text-body-secondary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a class="link-primary link-offset-2 link-offset-3-hover link-underline
        link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
        Learn more
      </a>
    </div>
  </div>
</section>

<!--explore menu section-->
<section class="container mb-5 py-5">
  <h2 class="text-center mb-5">
    Explore Our Menu
  </h2>
  <div class="row gy-4 d-flex justify-content-center">
    <div class="col-4">
      <div class="card text-bg-dark border-light">
        <img src="assets/appetizers2.jpg" class="card-img menu-category-img" alt="...">
        <div class="card-img-overlay d-flex flex-column-reverse">
          <h3 class="card-title fw-bold">Appetizers<i class="bi bi-arrow-right-short"></i></h3>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-bg-dark border-light">
        <img src="assets/entrees.jpg" class="card-img menu-category-img" alt="...">
        <div class="card-img-overlay d-flex flex-column-reverse">
          <h3 class="card-title fw-bold">Entrees<i class="bi bi-arrow-right-short"></i></h3>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-bg-dark border-light">
        <img src="assets/sides.jpg" class="card-img menu-category-img" alt="...">
        <div class="card-img-overlay d-flex flex-column-reverse">
          <h3 class="card-title fw-bold">Sides<i class="bi bi-arrow-right-short"></i></h3>
        </div>
      </div>
  </div>
    <div class="col-4">
      <div class="card text-bg-dark border-light">
        <img src="assets/emile-mbunzama-cLpdEA23Z44-unsplash.jpg" class="card-img menu-category-img" alt="...">
        <div class="card-img-overlay d-flex flex-column-reverse">
          <h3 class="card-title fw-bold">Dessert<i class="bi bi-arrow-right-short"></i></h3>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-bg-dark border-light">
        <img src="assets/beverages.jpg" class="card-img menu-category-img" alt="...">
        <div class="card-img-overlay d-flex flex-column-reverse">
          <h3 class="card-title fw-bold">Beverages<i class="bi bi-arrow-right-short"></i></h3>
        </div>
      </div>
    </div>
  </div>

</section>

<!--popular dishes section-->
<section class="container mb-5 py-5">
  <h2 class="text-center mb-5">Most Popular Dishes</h2>
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <div class="card p-2 menu-item-card">
        <img src="assets/poutine.jpg" class="card-img-top rounded menu-item-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Poutine</h5>
          <p class="card-text text-body-secondary">
            Poutine with poutine gravy,  white cheddar cheese curds and meat topping.</p>
          <h4 class="fw-bold">$24.00</h4>
          <div class="btn-group btn-group-sm me-2" role="group" aria-label="Small button group">
            <button type="button" class="btn btn-outline-primary"><i class="bi bi-dash-lg"></i></button>
            <button type="button" class="btn btn-outline-primary">0</button>
            <button type="button" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i></button>
            <button type="button" class="btn btn-primary"><i class="bi bi-bag-fill"></i></button>
          </div>
          <a href="#" class="btn btn-primary btn-sm">
            Buy Now <i class="bi bi-arrow-right-circle"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card p-2 menu-item-card">
        <img src="assets/poutine.jpg" class="card-img-top rounded menu-item-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Poutine</h5>
          <p class="card-text text-body-secondary">
            Poutine with poutine gravy,  white cheddar cheese curds and meat topping.</p>
          <h4 class="fw-bold">$24.00</h4>
          <div class="btn-group btn-group-sm me-2" role="group" aria-label="Small button group">
            <button type="button" class="btn btn-outline-primary"><i class="bi bi-dash-lg"></i></button>
            <button type="button" class="btn btn-outline-primary">0</button>
            <button type="button" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i></button>
            <button type="button" class="btn btn-primary"><i class="bi bi-bag-fill"></i></button>
          </div>
          <a href="#" class="btn btn-primary btn-sm">
            Buy Now <i class="bi bi-arrow-right-circle"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card p-2 menu-item-card">
        <img src="assets/poutine.jpg" class="card-img-top rounded menu-item-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Poutine</h5>
          <p class="card-text text-body-secondary">
            Poutine with poutine gravy,  white cheddar cheese curds and meat topping.</p>
          <h4 class="fw-bold">$24.00</h4>
          <div class="btn-group btn-group-sm me-2" role="group" aria-label="Small button group">
            <button type="button" class="btn btn-outline-primary"><i class="bi bi-dash-lg"></i></button>
            <button type="button" class="btn btn-outline-primary">0</button>
            <button type="button" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i></button>
            <button type="button" class="btn btn-primary"><i class="bi bi-bag-fill"></i></button>
          </div>
          <a href="#" class="btn btn-primary btn-sm">
            Buy Now <i class="bi bi-arrow-right-circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
